@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta{

    text-align: center;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-weight: v.$bold;

    &.error{
        background-color: v.$rojo;
    }

    &.exito{
        background-color: v.$verde;
    }
}